@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.experiences {
  width: 100%;
  height: 100%;
  
}



.experiences h2 {
  font-size: 3rem;
  text-align: center;
}

.experiences .container .content {
  display: grid;
  grid-gap: 20px;
  margin: 4rem 0;
  grid-template-columns: repeat(2, 1fr);
}


.icon {
    text-align: center;
    height: 10vh;
    
}

@media screen and (max-width: 940px) {
  .experiences .container {
    width: 100%;
  }

  .experiences .container .content {
    grid-template-columns: 1fr;
  }

  .experiences .card {
    max-width: 100%;
    margin: 1rem;
  }
}


