.about {
  background-color: #f8f8f8;
  margin: auto;
  padding: 8rem 1rem 0 1rem;
  width: 100%;
}

.about .container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about img {
  width: 60%;
  height: 100%;
  display: flex;
  text-align: center;
}
.about .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.about h2 {
  font-size: 2rem;
  width: 70%;
}

.about .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.about .text-format-1 {
  margin: 2rem 0;
  width: 65%;
  margin-left: 20%;
}

.about .text-format-2 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.about button {
  margin-top: 1rem;
}

img {
  animation: 1.5s img;
}

@keyframes img {
  from {
    margin-left: -70%;
  }

  to {
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1288px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about .container {
    width: 80%;
  }

  .about .container img {
    padding: 0rem;
    width: 70%;
  }

  .about .container .col-2 {
    padding: 0;
  }

  .about button {
    margin-bottom: 1rem;
  }
}
