

  
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 941px) {
    .icon {
        display: none;
        
    }
  }
  
  
  /* Medium screen devices (768px and above) */
  @media only screen and (min-width: 942px) {
    .icon {
        padding-top: 20%;
        width: 80%;
        
    }
  }
  
  /* Medium screen devices (768px and above) */
  @media only screen and (min-width: 1048px) {
    .icon {
        padding-top: 5%;
        width: 80%;
        height: 80%;
        
    }
  }
   /* Medium screen devices (768px and above) */
   @media only screen and (min-width: 1408px) {
    .icon {
        padding-top: 5%;
        width: 60%;        
    }
  }
  